*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
}
.container{
    max-width: 1105px;
    margin: 0 auto;
}

.header{
    font-family: Montserrat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto;
}

.nav-li{
    display: inline-block;
}

.nav-li:not(:last-of-type){
    margin-right: 90px;
}

.nav-link{
    color: black;
    text-decoration: none;
}

.nav-link:hover{
    color: #FA4A0C;
}

.app{
    background-image: url('../img/bg-1.png');
    color:white;
    text-align: center;
    padding: 140px 0 130px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.app-pretitle{
    font-family: Montserrat;
    font-style: normal;
    font-size: 24px;
    line-height: 38px;
}

.app-title{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
}
.app-text{
    font-family: Montserrat;
    font-style: normal;
    font-size: 24px;
    line-height: 38px;
    margin: 10px 0 60px;
}
.button{
    cursor: pointer;
    font-family: Montserrat;
    width: 142px;
    height: 64px;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    line-height: 28px;
}
.button:first-of-type{
    background: #FA4A0C;
    border: 1px solid #FA4A0C;
    margin-right: 16px;
}
.button:last-of-type{
    background: none;
    border: 1px solid white;
}


.ord{
    background-image: url('../img/bg-2.png');
    color:white;
    text-align: center;
    padding: 140px 0 130px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.ord-title{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
}
.ord-text{
    font-family: Montserrat;
    font-style: normal;
    font-size: 24px;
    line-height: 38px;
    margin: 10px 0 60px;
}
.button-ord{
    cursor: pointer;
    font-family: Montserrat;
    width: 142px;
    height: 64px;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    line-height: 28px;
}
.button-ord:first-of-type{
    background: #FA4A0C;
    border: 1px solid #FA4A0C;
    margin-right: 16px;
}
.button-ord:last-of-type{
    background: none;
    border: 1px solid white;
}

.mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 110px;
}
.mobile-pretitle{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #FA4A0C;
}
.mobile-title{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    max-width: 560px;
}
.mobile-text{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    color: #737373;
    max-width: 400px;
}

.footer{
    font-family: Montserrat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto;
}

.title{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 44px;
    line-height: 36px;
    text-align: center;

    margin: 57px 0 70px;
}